html, body, a, p, h1, h2, h3, h4, h5, h6 {
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
}

.first_nav{
    background-color: #230939;
}

.nav-link{
    font-size: medium;
}
.nav-link:hover{
    font-size: large;
    color: white;
}

.profileicon{
    margin-left: 125px;
}
header{
    background-color: #3D2462;
    color: white;
}
.navbar li a{
    color: white;
}
.paragraps{
    margin-top: -1000px;
}